*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg__primary: #212121;
    --bg__secondary: #ffffff;
}
html{
    font-size: 62.5%;
}

body{
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.autor{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    background: rgb(240, 49, 49);
    border-radius: 25px;
}
.autor > h1{
    font-size: 3rem;
    font-family: "Kano";
    text-align: center;
    padding: 2rem 0rem;
    color: white;
    transition: all .5s;
}
.container__bloques{
    width: 80%;
    min-height: 80rem;
    height: auto;
    
    display: flex;
    position: relative;
    overflow: hidden;
    background: linear-gradient(145deg, rgb(245, 161, 36), rgb(166, 47, 221));
    border-radius: 15px;
}
.bloque__vacio{
    width: 50%;
    min-height: 100%;

}
.bloque__items{
    padding: 5rem 3rem;
    width: 50%;
    min-height: 100%;

    display: grid;
    align-content: flex-end;
    grid-auto-rows: 15rem;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    font-size: 3rem;
    font-family: "Kano";
    border-radius: 15px;
    box-shadow: 0px 25px 5rem -3rem orange;
    cursor: pointer;
    transition: all 0.5s;
}
.box:hover{
    transition: all 0.5s;
    box-shadow: 0px 35px 5rem -2rem orange;
    transform: scale(1.1);
}
.bloque__estatico,
.bloque__personalizado{
    position: absolute;
}
.bloque__estatico{
    top: 25%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 200px;
    background: #474747 ;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 25px 5rem -3rem;
}
.bloque__personalizado{
    
    transform: translate(-50%,-50%);
    width: 100px;
    background: var(--bg__primary);
    margin: 1rem;
    height: 100px;
    border-radius: 15px;
    box-shadow: 0px 25px 5rem -3rem;
    
    
}

.bloque_left{
    top: 100%;
    left: -300%;   
    transition: all 0.5s;
    
}
.bloque_left:hover{
    
}
.bloque_right{
    top: 100%;
    left: 900%;
    transition: all 0.5s;
}
#box1{
    background: #212121;
    color: #ffffff;
}
#box2{
    background: rgb(240, 49, 49);
    color: #ffffff;
}
#box3{
    background: rgb(8, 226, 117);
    color: #ffffff;
}
#bloque_tres,
#bloque_cuatro{
    background: rgb(240, 49, 49);
}
#bloque_cinco,
#bloque_seis{
    background: rgb(8, 226, 117);
    
}

@keyframes rotarLeft {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(720deg);
    }

}
@keyframes rotarRigt {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(-720deg);
    }

}



@media screen and (max-width: 1000px){
    
    .container__bloques{
        flex-direction: column;
        width: 95%;
    }
    .bloque__vacio{
        width: 100%;
        min-height: 40rem;
    }
    .bloque__items{
        width: 100%;
        min-height: 40rem;
        align-content: center;
        grid-auto-rows: 10rem;
    }
    .bloque__estatico{
        top: 23%;
        left: 50%;
        
    }
    .autor > h1{
        transition: all .5s;
        font-size: 1.8rem;
    }
    
}

/* Css que usare en el javascript*/

.bloque_show_left{
    left: 0%;
    transition: all 0.5s;
}
.bloque_show_right{
    left: 100%;
    transition: all 0.5s;
}